body {
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}

header {
    display: grid;
    grid-template-columns: 5fr 2.5fr .9fr 1fr;
    background: #ff5619;
    height: 75px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
}

.logo {
    height: 38px;
    padding-left: 25px;
}

.header-text {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}

.token {
    height: 30px;
}

.button-container {
    margin: 20% 0 0 0;
}

.button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff5619;
    color: white;
    margin: 20px 40px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.person-icon {
    height: 50px;
}

.car-icon {
    height: 40px;
}

.card-text {
    margin: 10px 0 0 0;
}

.card-token-container {
    display: flex;
    align-items: center;
    margin: 5px 0 0 0;
}

.card-token {
    height: 25px;
}

.btn-white {
    border-radius: 5px;
    font-size: 1.1rem;
    position: relative;
    top: 350px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    background: white;
    font-family: 'Oswald', sans-serif;
    border-style: none;
    color: #ff5619;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-orange {
    border-radius: 5px;
    font-size: 1.1rem;
    position: relative;
    top: 360px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    background: #ff5619;
    font-family: 'Oswald', sans-serif;
    border-style: none;
    color: white;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}